.sidebar{
    box-shadow: 0px 4px 15px rgba(128, 128, 128, 0.507);
    height: fit-content;
    margin: 25px 10px;
    padding: 2.5px 20px;
    border-radius: 10px;
    
}
.deleteFilter{
    border: 0.5px solid rgb(245, 73, 42);
    padding: 5px;
    border-radius: 4px;
    color: rgb(250, 67, 35);
    background-color: rgba(255, 99, 71, 0.363);
    cursor: pointer;

}

.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding: 5px 0px;
    margin-right: -40px;
    cursor:pointer ;
    transition: all 0.2s ease-in-out;
}

.sidebar ul li:hover{
    font-size: large;
    font-weight: 700;
    color: blue;
}